img{
    height: 74px;
    margin-top: -18px;
    margin-left: 30px;
}
ul{
    list-style-type:none;
    display:flex;
    justify-content: center;
  
  }
  ul li{
    display: list-item;

    padding: 5px 10px;
    color:blue;
    margin: 0 3px;
  }
 


  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #595959;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px !important;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-content a {
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px !important;

  }
  .dropdown-content a:hover{
    background-color: #223D74;
  }
.dropdown:hover .dropdown-content {display: block;}
  .dropbtn{
    font-size: 16px;
  }
.fa-search{
  font-size: 22px;
  /* border: 1px solid black; */
 
  padding:5px;
}
.text{
  padding: 5px;
}