.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #001D3D;
    color: white;
    text-align: center;
    height:50px;
  }
  h3:hover{
   color: #223D74;
  }